<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">

<script src="{{ url_for('static', filename='js/deps.wps-js.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/wps-js-all.min.js') }}"></script>


<title>EO4SEE WPS Test UI</title>
<link rel="shortcut icon" href="favicon.ico" />
</head>
<body>
	<div id="wrapper">
		<div>
			<h1>EO4SEE TEST UI</h1>
			<p>This application uses the wps-js <a href="https://github.com/52North/wps-js/" title="wps-js on GitHub">open source client library</a> for connecting Javascript client to <a href="http://www.opengeospatial.org/standards/wps" title="WPS @ Open Geospatial Consortium">OGC Web Processing</a> services.</p>
		</div>
		<div>
			<h3>
				Capabilities
			</h3>
			<div class="wps-container">
				<select id="wps">
					<option>Select a WPS</option>
					<option>{{ request.url_root.strip("/") }}{{ url_for('wps_handler') }}</option>
				</select>
				<label>
					<input type="checkbox" id="wps-version" value="2.0.0" checked>
					use version '2.0.0'?
				</label>
			</div>
			<h1></h1>
			<div class="wps-container">
				<textarea rows="20" cols="100" id="capabilitiesText">empty</textarea>
			</div>
		</div>
		<div>
			<h3>
				DescribeProcess
			</h3>
			<div class="wps-container">
				<select id="processes">
                    <option>Select a Process</option>
                    <option>{{ request.url_root.strip("/") }}{{ url_for('wps_handler') }}</option>
                </select>
                <label>
                    <input type="checkbox" id="wps-version" value="2.0.0" checked>
					use version '2.0.0'?
				</label>
			</div>
			<h1></h1>
			<div class="wps-container">
				<textarea rows="20" cols="100" id="processDescriptionText">empty</textarea>
			</div>
		</div>
		<div>
			<h3>Execute Process - TODO NO CLIENT INTERFACE YET</h3>
			<div class="wps-container">
				<select id="processes_execute"><option>Select a Process</option></select>
				<span id="processDescriptionLink"></span>
				<div class="wps-execute-container" id="wps-execute-container"></div>
			</div>
			<p></p>
			<div class="wps-container">
			    <div id="auto-update-container"></div>
				<div id="executeProcess"></div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
	// initialize wpsService
	var wpsService = new WpsService({
		url: "http://geoprocessing.demo.52north.org:8080/wps/WebProcessingService",
		version: "2.0.0"
	});	
	
	var capabilities,
		processDescription; // the process description
		
		var capabilitiesCallback = function(response) {
			
			capabilities = response;
			
			// extract processes, add them to process-list
			//array of processes
			var processes = response.capabilities.processes;
			
			var _select = $('<select>');
			$.each(processes, function(index, process) {
			    _select.append(
			            $('<option></option>').val(process.identifier).html(process.identifier)
			        );
			});
			$('#processes').append(_select.html());
			$('#processes_execute').append(_select.html());
			
			// set value of textarea
			var capabilitiesDocument = capabilities.responseDocument;


			$("textarea#capabilitiesText").val((new XMLSerializer()).serializeToString(capabilitiesDocument));

            //$("textarea#capabilitiesText").val(capabilitiesDocument);
		};
		
		var describeProcessCallback = function(response) {
			
			processDescription = response;
			
			//set value of textarea
			var processDocument = processDescription.responseDocument;
			
			$("textarea#processDescriptionText").val((new XMLSerializer()).serializeToString(processDocument));
			
		};
		
		var clearForms = function(){
			
			//clear select
			//$("#processes option").remove();
			//$("#processes_execute option").remove();
			
			
			//$("#processes").append($('<option></option>').val("default").html("Select a Process"));
			//$("#processes_execute").append($('<option></option>').val("default").html("Select a Process"));
			
			//clear textareas
			$("textarea#capabilitiesText").val("empty");
			$("textarea#processDescriptionText").val("empty");
		};
		
		$(document).ready(function() {

			$("#wps").change(function() {
				//clear old textarea values
				clearForms();
				
				// get selected wps (url)
				var wpsUrl = $('#wps option:selected').text();
                console.log("wps-url "+wpsUrl);

				// only eexecute if wpsUrl is a http url
				if(wpsUrl.startsWith("http")){
					if($("#wps-version").prop("checked"))
						wps = new WpsService({url : wpsUrl, version : "2.0.0"});
					else
						wps = new WpsService({url : wpsUrl, version : "1.0.0"});
				
					wps.getCapabilities_GET(capabilitiesCallback);
				}

			});
			
			$("#processes").change(function() {

			    //clear old textarea values
				clearForms();

				// get selected wps (url)
				var processId = $('#processes option:selected').text();
				console.log("processId "+processId);
				
				// only eexecute if id != default value "Select a Process"
				if(! processId.startsWith("Select"))
                    wps.describeProcess_GET(describeProcessCallback, processId);

			});
			
			$("#wps-version").change(function(){
				if (wpsService){
					if($("#wps-version").prop("checked"))
						wpsService.version = "2.0.0";
					else
						wpsService.version = "1.0.0";
				}		
			});
		});
		
	</script>

	<div>
	<p class="infotext">wps-js - version 0.1.2 - build at 2017-06-06 23:48</p>
	</div>
	
</body>
</html>
